@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
}

.game {
    display: flex;
    justify-content: space-around;
    gap: 35%;
}

.hangman {
    margin-left: 38px;
    margin-top: 59px;
    
}

.hangman img {
    width: 400px;
    height: 466px;

}

.words {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50%;
}

.words button {
    margin-top: 100px;
    width: 200px;
    height: 60px!important;
    background-color: #27AE60;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}



.chooseWord:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 20px -18px inset;
}



.word {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

.letters {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    width: 664px;
    flex-wrap: wrap;
    margin-top: 70px;

}

.letter {
    width: 40px;
    height: 40px;
    background-color: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #798A9F
}

.letter.active {    
    background: #E1ECF4;
    color: #39739D;
}

.letter:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 20px -18px inset;
}

.hidden {
    display: none;
}

.shot {
    display: flex;
    align-items: center;
    gap: 12px;
    width: fit-content;
    margin: auto;
    margin-top: 57px;
}

.shot h4 {
    font-size: 20px;
}

.shot input {
    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.shot button {
    width: 100px;
    height: 40px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    color: #3C76A1;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.shot button:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 20px -18px inset;
}



